{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
    <div class="container">
        <table class="table table-bordered">
            <thead>
                <th>Title</th>
                <th>definition</th>
                <th>example</th>
                <th>url</th>
            </thead>
            <tbody>
            {% for object in object_list %}
                <tr>
                    <td>{{ object.title }}</td>
                    <td>{{ object.definition }}</td>
                    <td>{{ object.example }}</td>
                    <td><a href="{{ object.url }}"> {{ object.url }}</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}